<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <!-- Bootstrap and jQuery -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>台大排球場地查詢</title>
    </head>
<body>
    <h1>{{ big_title }}</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> # </th>
                    {% for day in days %}
                        <th colspan="4"> {{ day }} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> 場地 </th>
                    {% for day in days %}
                        <td>場四</td><td>場五</td><td>場六</td><td>場七</td>
                    {% endfor %}
                </tr>

                {% for p in place %}
                    {% for state in p %}
                        {% if forloop.first %}
                            <th scope="row">  {{ state }} </th>
                        {% else %}
                            {% if state == 0 %}
                                <td> &nbsp; </td>
                            {% elif state == 1 %}
                                <td class="info">  &nbsp; </td>
                            {% else %}
                                <td class="danger">  &nbsp; </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>
</body>
</html>